body {
  font-family: "Open Sans", sans-serif;
  font-family: "Orbitron", sans-serif;
}
.text {
  font-family: "Open Sans", sans-serif;
  font-family: "Orbitron", sans-serif;
  color: white;
  text-shadow: 2px 2px 10px rgb(0, 212, 212);
}
.width-100 {
  width: 100%;
}
.width-fit {
  width: fit-content;
}
.text-align-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}
.jumbotron {
  position: relative;
  border-radius: 0px;
  animation: transition 2s ease-in-out;
  align-items: center;
}
.top-animation {
  position: relative;

  animation: top 2s ease-in-out;
}
.bottom-animation {
  position: relative;
  animation: bottom 2s ease-in-out;
  opacity: 1;
}
@keyframes bottom {
  0% {
    top: 100px;
    opacity: 0;
    left: 100px;
  }
  70% {
    opacity: 0.5;
  }
  100% {
    top: 0px;
    opacity: 1;
    left: 0px;
  }
}
@keyframes top {
  0% {
    bottom: 100px;
    opacity: 0;
  }
  70% {
    opacity: 0.5;
  }
  100% {
    bottom: 0px;
    opacity: 1;
  }
}
@keyframes transition {
  0% {
    right: 100px;
    opacity: 0;
  }

  100% {
    right: 0px;
    opacity: 1;
  }
}
.text-anime-parent {
  width: fit-content;
}
.text-animation {
  width: 0px;
  overflow: hidden;

  text-align: left;
}
.text-animation:before {
  font-size: 1.4rem;
  color: darkturquoise;
  font-weight: 800;

  content: "Codechef_3_Star_Coder";
  position: absolute;
  border-right: 5px solid darkturquoise;

  animation: text 18s infinite;
  overflow: hidden;
  text-align: left;
}
@keyframes text {
  0% {
    width: 0%;
    content: "MERN_Stack_Developer";
  }
  40% {
    width: 100%;
  }
  49% {
    content: "MERN_Stack_Developer";
  }
  50% {
    width: 0%;
    content: "Codechef_3⭐_Coder";
  }
  90% {
    width: 100%;
  }
  99% {
    content: "Codechef_3⭐_Coder";
  }
  100% {
    width: 0%;
    content: "MERN_Stack_Developer";
  }
}
@keyframes text-before {
  0% {
    opacity: 0.9;
  }
  50% {
    opacity: 0;
  }
  90% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

.heading {
  font-weight: 900;
  font-size: 3rem;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-family: "Orbitron", sans-serif;
}
.bg {
  background-image: url("https://raw.githubusercontent.com/sahilalam/SocialMediaProjectNodejs/master/src/public/Components/13.gif");
}
.header {
  border-radius: 10px;
  box-shadow: 0px 0px 20px black;
  height: max-content;
  background: linear-gradient(rgba(0, 0, 0, 0.308), rgb(0, 0, 0)),
    url("https://raw.githubusercontent.com/sahilalam/SocialMediaProjectNodejs/master/src/public/Components/ICONS/BG.gif");
  background-size: cover;
  background-position: center;
  border-right: 10px solid rgb(1, 118, 172);
  border-left: 10px solid rgb(1, 118, 172);
}

.header2 {
  font-size: 1.2rem;
}
.nav-bar {
  box-shadow: 0px 0px 30px rgba(28, 32, 32, 0);
  border-radius: 0px;
  position: sticky;
  top: 0;
  z-index: 1;
}
.logo {
  width: 50%;
  border-radius: 50%;
  box-shadow: 2px 2px 30px rgb(255, 255, 255);
  animation: rotate 6s infinite;
  overflow: visible;
}
@keyframes rotate {
  25% {
    transform: rotate(20deg);
  }

  75% {
    transform: rotate(-20deg);
  }
}
.logo-sm {
  width: 20px;
}
.logo-md {
  width: 50px;
  transition: 0.5s;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0);
}
.logo-md:hover {
  transform: scale(1.2, 1.2);
  border: 2px solid rgb(0, 132, 209);
  box-shadow: 0px 0px 30px rgb(0, 0, 0);
}
.logo-md:active {
  transform: scale(1, 1);
}
.text-shadow-dark {
  text-shadow: 2px 2px 20px black;
}
.box-shadow-dark {
  box-shadow: 2px 2px 20px black;
}
.box-shadow {
  box-shadow: 2px 2px 20px darkcyan;
}
.box-head {
  background-color: rgb(0, 91, 134);
  box-shadow: 2px 2px 20px rgb(75, 74, 74);
  border-radius: 10px;
}
.box-body {
  background-color: rgba(47, 79, 79, 0);
  box-shadow: 2px 2px 20px rgb(75, 74, 74);
  border-radius: 10px;
  height: fit-content;
}
.card {
  background-color: rgba(49, 49, 49, 0.719);
  box-shadow: 2px 2px 10px darkcyan;
  transition: 0.5s ease-in-out;
  text-align: left;
  border-radius: 0px;
  border: 2px solid rgba(255, 255, 255, 0.062);
  border-left: 10px solid rgb(1, 118, 172);
}
.card-big {
  background-color: rgba(39, 39, 39, 0.699);

  box-shadow: 2px 2px 10px rgb(66, 66, 66);
  transition: 0.5s ease-in-out;
  text-align: left;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.062);
}
.bar {
  margin-bottom: 5px;
  width: 100%;
  transition: 1s;
  border-radius: 20px;
  background-color: black;
  border: 0px solid rgb(0, 206, 209);
  animation: bar 1s ease-in-out;
  box-shadow: 0px 0px 10px cyan;
  border-left: 5px solid rgb(0, 98, 209);
  border-right: 5px solid rgb(0, 98, 209);
}
@keyframes bar {
  0% {
    width: 0%;
  }
  5% {
    width: 0%;
    box-shadow: 10px 10px 30px cyan;
  }
  100% {
    box-shadow: 0px 0px 10px cyan;
    width: 100%;
  }
}
.card-big:hover {
  background-color: rgba(49, 49, 49, 0.644);

  transform: scale(1.03, 1);
  box-shadow: 10px 10px 30px rgb(0, 179, 224);

  z-index: 1;
  border-top: 10px solid rgb(1, 118, 172);
  border-bottom: 10px solid rgb(1, 118, 172);
}
.card:hover {
  background-color: rgba(39, 39, 39, 0.952);

  transform: translate(-10px, -10px);

  box-shadow: 10px 10px 30px rgb(0, 179, 224);
  border-radius: 10px;
  z-index: 1;
  border-right: 10px solid rgb(1, 118, 172);
  border-left: 10px solid rgb(1, 118, 172);
}

#skills {
}
.projects-nav {
  width: fit-content;
  border-radius: 10px;
  box-shadow: 2px 2px 20px rgb(75, 74, 74);
}
.project {
}
.project-head {
  background-color: rgba(47, 79, 79, 0.966);
  border-radius: 5px;
  box-shadow: 2px 2px 20px rgb(37, 37, 37);
  z-index: 0;
  border-left: 5px solid rgb(0, 98, 209);
  border-right: 5px solid rgb(0, 98, 209);
}
.project-image {
  height: 300px;
  width: 100%;
  box-shadow: 0px 0px 0px rgb(0, 84, 209);
  border-radius: 10px;
  transition: 0.5s;
  border: 2px solid rgba(255, 255, 255, 0.233);
}

.project-image:hover {
  box-shadow: 2px 2px 40px rgb(1, 62, 90);
  transform: translate(-5px, -5px);
  border: 2px solid rgb(0, 115, 209);
}
.project-image:active {
  box-shadow: 2px 2px 20px darkturquoise;
  transform: scale(1, 1);
}
#projects {
  min-height: 100vh;
}
.project-body {
  background-color: transparent;
  border-radius: 10px;
  box-shadow: 2px 2px 20px rgb(37, 37, 37);
  font-size: smaller;
  border-top: 5px solid rgb(0, 98, 209);
  border-bottom: 5px solid rgb(0, 98, 209);
  transition: 0.5s;
}

#contact {
  background: linear-gradient(darkslategray, rgba(255, 255, 255, 0.671));
  min-height: 100vh;
}
.contact {
  box-shadow: 0px 0px 10px darkslategray;
}
#root {
  background: radial-gradient(rgba(255, 255, 255, 0.897), rgba(0, 0, 0, 0.637)),
    url("https://raw.githubusercontent.com/sahilalam/SocialMediaProjectNodejs/master/src/public/Components/ICONS/Source1.gif");
  background-size: cover;
  min-height: 100vh;
}
#main-nav {
  background-color: darkslategrey;
}
.navlink {
  transition: 0s;
  width: fit-content;
}
.navlink:hover {
  border-radius: 5px;
  box-shadow: 0px 0px 20px rgb(29, 29, 29);
  background-color: rgba(0, 0, 0, 0.281);
  border-left: 5px solid rgb(0, 60, 255);
  border-right: 5px solid rgb(0, 60, 255);
}
