body {
  font-family: "Open Sans", sans-serif;
  font-family: "Orbitron", sans-serif;
}
.text {
  color: white;
  text-shadow: 2px 2px 10px cyan;
}
.jumbotron {
  height: 100vh;
  position: relative;
  border-radius: 0px;
  animation: transition 3s;
  align-items: center;
}
.top-animation {
  position: relative;

  animation: top 3s ease;
}
.bottom-animation {
  position: relative;
  animation: bottom 3s ease;
  opacity: 1;
}
@keyframes bottom {
  0% {
    top: 100vh;
    opacity: 0;
    left: 100vw;
  }
  70% {
    opacity: 0.3;
  }
  100% {
    top: 0vh;
    opacity: 1;
    left: 0vw;
  }
}
@keyframes top {
  0% {
    bottom: 100vh;
    opacity: 0;
  }
  70% {
    opacity: 0.3;
  }
  100% {
    bottom: 0vh;
    opacity: 1;
  }
}
@keyframes transition {
  0% {
    right: 100vw;
    opacity: 0;
  }

  100% {
    right: 0vw;
    opacity: 1;
  }
}

.text-animation {
  width: 0px;
  overflow: hidden;

  text-align: left;
}
.text-animation:before {
  height: 25px;
  content: "Codechef_3_Star_Coder";
  position: absolute;
  border-right: 2px solid white;

  animation: text 12s infinite;
  overflow: hidden;
  text-align: left;
}
@keyframes text {
  0% {
    width: 0%;
    content: "MERN_Stack_Developer";
  }
  25% {
    width: 100%;
  }
  49% {
    content: "MERN_Stack_Developer";
  }
  50% {
    width: 0%;
    content: "Codechef_3⭐_Coder";
  }
  75% {
    width: 100%;
  }
  99% {
    content: "Codechef_3⭐_Coder";
  }
  100% {
    width: 0%;
    content: "MERN_Stack_Developer";
  }
}
@keyframes text-before {
  0% {
    opacity: 0.9;
  }
  50% {
    opacity: 0;
  }
  90% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

.heading {
  font-weight: 900;
  font-size: 3rem;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-family: "Orbitron", sans-serif;
}
.bg {
  background-image: url("https://raw.githubusercontent.com/sahilalam/SocialMediaProjectNodejs/master/src/public/Components/13.gif");
}
.header {
  border-radius: 10px;
  box-shadow: 5px 5px 10px black;
  height: max-content;
  background: linear-gradient(rgba(0, 0, 0, 0.308), rgb(0, 0, 0)),
    url("https://raw.githubusercontent.com/sahilalam/SocialMediaProjectNodejs/master/src/public/Components/ICONS/BG.gif");
  background-size: cover;
}

.header2 {
  font-size: 1.2rem;
}
.nav-bar {
  box-shadow: 0px 0px 30px rgb(34, 49, 49);
  border-radius: 0px;
  position: sticky;
  top: 0;
  z-index: 1;
}
.logo {
  width: 50%;
  border-radius: 50%;
  box-shadow: 2px 2px 30px rgb(255, 255, 255);
  animation: rotate 6s infinite;
  overflow: visible;
}
@keyframes rotate {
  25% {
    transform: rotate(20deg);
  }

  75% {
    transform: rotate(-20deg);
  }
}
.logo-sm {
  width: 20px;
}
.logo-md {
  width: 50px;
  transition: 0.5s;
}
.logo-md:hover {
  transform: scale(1.2, 1.2);
}
.text-shadow-dark {
  text-shadow: 2px 2px 20px black;
}
.box-head {
  background-color: darkslategrey;
  box-shadow: 2px 2px 20px black;
  border-radius: 10px;
}
.box-body {
  box-shadow: 2px 2px 20px black;
  border-radius: 10px;
}
.card {
  background-color: darkslategrey;
  box-shadow: 2px 2px 10px cyan;
  border-radius: 5px;
  transition: 0.5s;
}
.card:hover {
  background-color: darkcyan;
  transform: scale(1.1, 1.1);
  box-shadow: 2px 2px 30px cyan;
  border-radius: 10px;
}
#skills {
  box-shadow: 0px 0px 30px black;
}
